---
import Headline from "@/components/atoms/Headline.astro";
import Paragraph from "@/components/atoms/Paragraph.astro";
import Divider from "@/components/atoms/Divider.astro";

import Hero from "@/components/Hero.astro";
import Survey from "@/components/Survey.astro";
import Annotation from "@/components/Annotation.astro";
import AnnotationGuideRow from "@/components/AnnotationGuideRow.astro";
import Submission from "@/components/Submission.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🗳️</text></svg>"
    />
    <meta name="viewport" content="width=device-width" />
    <title>CL-Trier Annotation</title>

    <meta name="author" content="Simon Münker" />
  </head>
  <body>
    <Hero>
      <Fragment slot="headline">
        <span>Social Sentiment during the Energy Crisis: </span>
        <span class="sm:block">Analyzing Human-Machine Agreement</span>
      </Fragment>
      <Fragment slot="intro">
        Our research interest is to analyze the agreement of text classification
        between human annotators and large language models (LLM) questioned
        through prompting. Thus, your task in the survey is annotating Tweets in
        terms of their topic and sentiment. In addition, we encourage you to
        provide us with selected socio-demographic features. We will utilize
        these to analyze if the LLM's response resembles the opinion of specific
        groups.
      </Fragment>
    </Hero>
    <main class="container mx-auto px-4 py-8 lg:py-12">
      <Headline>Step 1: Fill in your socio-demographic details</Headline>

      <Paragraph>
        Please provide us with your genuine data. If you like not to answer a
        question, leave the field's value with the default None. Of course, all
        your statements are voluntary and remain anonymous. You may find some
        options not exactly fitting your situation. If that is the case, choose
        the closest possible value.
      </Paragraph>

      <Paragraph>
        Note that we simplified the options regarding questions of gender,
        origin, and religion. That allows for a streamlined evaluation and is
        not meant to be discriminating. If you have ethical concerns, <a
          class="font-medium text-blue-600 underline"
          href="mailto:s2simuen@uni-trier.de?subject=SoSec Survey - Ethical Concerns"
          >contact us directly.</a
        >
      </Paragraph>

      <Survey />

      <Divider />

      <Headline>Step 2: Annotate the following tweets</Headline>

      <Paragraph>
        We listed a selection of possible ambiguous and polarising tweets below.
        Your task is annotating them along two dimensions: topic and sentiment.
        We provide a detailed description for each topic below. Please read them
        carefully. For the sentiment, your task is to choose between three
        options: The author's opinion is neutral (<span
          class="font-bold text-slate-600">Neutral</span
        >), positive (<span class="font-bold text-slate-600">Positiv</span>) or
        negative (<span class="font-bold text-slate-600">Negativ</span>) towards
        the chosen topic. You may encounter tweets with two or more possible
        topics. Please select the one most prominent in your opinion. Select the
        label unclassifiable (<span class="font-bold text-slate-600"
          >Nicht zuordenbar</span
        >) if you find a tweet not assignable to any topic.
      </Paragraph>

      <div class="grid max-w-2xl grid-cols-1 gap-4 sm:grid-cols-2">
        <AnnotationGuideRow
          definition="The tweet contains concerns about the economic crisis or the personal financial situation."
          delimitation="The tweet does not blame the whole economic system or specific social groups based on income or social status."
          name="Wirtschaft"
        />
        <AnnotationGuideRow
          definition="The tweet evaluates the chances and dangers of migration and makes judgmental remarks about migrants or as migrants perceived people."
          delimitation="The tweet does not evaluate decisions in migration politics or focus on individuals of those groups."
          name="Migration"
        />
        <AnnotationGuideRow
          definition="The tweet expresses trust or distrust towards the parliament and advocates or rejects the democratic system."
          delimitation="The tweet does not assess a single political decision, politician, or party; and does not compare parties."
          name="Demokratie"
        />
        <AnnotationGuideRow
          definition="The tweet states the author's position on the Russo-Ukrainian war, evaluates economic penalties against Russia, or postulates financial or military support for Ukraine."
          delimitation="The tweet does not discuss the author's opinion about the Ukraine war in general and does not evaluate the individual war parties."
          name="Ukraineunterstützung"
        />
        <AnnotationGuideRow
          definition="The tweets discuss personal concerns about the power supply or energy system transformation."
          delimitation="The tweet does not evaluate a single energy source, speculate on future technologies, or focus on political decisions."
          name="Energiewende"
        />
      </div>

      <Annotation />

      <Divider />

      <Headline>Step 3: Submit the results</Headline>

      <Paragraph>
        After finishing the study, download your data to your local file system.
        We save results as a plain-text JSON file. Thus, interested ones can
        examine their file and inspect the collected data. We ask not to modify
        the contents as that would complicate evaluation.
      </Paragraph>

      <Paragraph>
        Finally, upload the received file to the cloud storage provided by the
        universities of Rhineland-Palatinate. We opt for the two stages approach
        to ensure data transparency and limit the usage of non-education service
        providers.
      </Paragraph>

      <Submission />
    </main>
  </body>
</html>
