---
import BaseLayout from "@layouts/BaseLayout.astro";

import Hero from "@pages/partials/Hero.svelte";
import Survey from "@pages/partials/Survey.svelte";
import Annotation from "@pages/partials/Annotation.svelte";
import Submission from "@pages/partials/Submission.svelte";
---

<BaseLayout title="Open Text-Annotation Tool">
  <Hero client:load />
  <main class="container mx-auto px-4 py-8 lg:py-12">
    <Survey client:load />

    <hr class="divider" />

    <Annotation client:load />

    <hr class="divider" />
    <Submission client:load />
  </main>
</BaseLayout>
