---
import { Icon } from "astro-icon/components";

import BaseLayout from "@layouts/BaseLayout.astro";

import SetupPartial from "@pages/partials/Setup.svelte";
---

<BaseLayout title="Setup - Open Text-Annotation Tool">
  <div
    class="mx-auto h-screen max-w-screen-xl overscroll-contain px-4 py-16 lg:py-32 flex flex-col items-center"
  >
    <h2 class="sectionheading">Welcome to the Open Text-Annotation Tool</h2>

    <p class="sectionparagraph">
      Get started by uploading your custom annotation configuration file, or explore the platform's capabilities with our interactive demo. The tool supports JSON-formatted datasets containing survey questions, text samples for annotation, and configurable response options. Your uploaded configuration will define the survey demographics to collect, the annotation categories available, and the specific text samples participants will evaluate. All data remains secure and can be exported in standard formats for further analysis. If you want to generate your own survey, <a class="text-sky-700 underline underline-offset-2" href="/Open-Text-Annotation-Tool/example.json" target="_blank">download the example JSON.</a>
    </p>

    <div class="h-8"></div>

    <SetupPartial client:load />

    <div class="h-12"></div>

    <footer class="text-sm leading-relaxed text-slate-500">
      <a href="https://github.com/simon-muenker/TWONy-micro" target="_blank">
        <Icon name="mdi:github" class="-mt-0.5 inline text-base" />
        Github
      </a>
      ·
      <a href="https://linkedin.com/in/simon-muenker" target="_blank">
        <Icon name="mdi:linkedin" class="-mt-0.5 inline text-base" />
        Simon Münker
      </a>
    </footer>
  </div>
</BaseLayout>
