---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  definition: string;
  delimitation: string;
}

const { name, definition, delimitation } = Astro.props;
---

<div class="items-center border-b border-slate-200 text-slate-600">
  <div class="pb-2 font-bold">{name}</div>
  <div class="pb-4">
    <Icon name="mdi:check-circle" class="inline-block h-5 w-5 text-green-500 align-text-top" />
    {definition}
    <Icon name="mdi:close-circle" class="inline-block h-5 w-5 text-red-500 align-text-top" />
    {delimitation}
  </div>
</div>
