---
interface Props {
  name: string;
  definition: string;
  delimitation: string;
}

const { name, definition, delimitation } = Astro.props;
---

<div class="items-center border-b border-slate-200 text-slate-600">
  <div class="pb-2 font-bold">{name}</div>
  <div class="pb-4">
    <span class="i-mdi-check-circle h-5 w-5 align-text-top text-green-500"
    ></span>
    {definition}
    <span class="i-mdi-close-circle h-5 w-5 align-text-top text-red-500"></span>
    {delimitation}
  </div>
</div>
