---

---

<header class="bg-gray-900 text-white">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
  >
    <div class="mx-auto max-w-7xl text-center">
      <h1
        class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text py-2 text-3xl font-extrabold text-transparent md:text-5xl lg:text-6xl 2xl:text-8xl"
      >
        <slot name="headline" />
      </h1>

      <p class="mx-auto max-w-4xl py-4 leading-relaxed md:text-xl">
        <slot name="intro" />
      </p>

      <div class="flex flex-wrap justify-center gap-4 py-8">
        <button
          class="block w-auto rounded-full bg-gradient-to-br from-green-300 via-blue-500 to-purple-600 p-4 text-white"
          id="startSurvey"
        >
          <span class="i-mdi-arrow-down h-10 w-11 align-text-top"></span>
        </button>
      </div>
    </div>
  </div>
</header>

<script>
  const button = document.getElementById("startSurvey");

  if (button != null) {
    button.addEventListener("click", () => {
      window.scrollTo({
        top: window.innerHeight,
        left: 0,
        behavior: "smooth",
      });
    });
  }
</script>
