---

---

<button
  id="downloadData"
  class="gradient group relative mr-2 mb-2 inline-flex items-center justify-center overflow-hidden rounded-lg  p-0.5 font-medium text-gray-900 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:ring-cyan-200 focus:outline-none"
>
  <span
    class="group-hover:bg-opacity-0 relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 ease-in"
  >
    1. Download data
  </span>
</button>

<a
  class="ml-4 text-gray-600 underline underline-offset-8"
  href="https://seafile.rlp.net/u/d/e2a60cab32854c2d8e7a/"
  target="_blank">2. Upload to Cloud</a
>

<script>
  import { sha1 } from "object-hash";
  import { saveAs } from "file-saver";

  import { getCollatedStore } from "@/store.ts";

  const button = document.getElementById("downloadData");

  if (button != null) {
    button.addEventListener("click", () => {
      saveAs(
        new Blob([JSON.stringify(getCollatedStore(), null, 4)], {
          type: "application/json",
        }),
        Date.now() + sha1(getCollatedStore()) + ".json",
      );
    });
  }
</script>
