---
import Headline from "@atoms/Headline.astro";
import Paragraph from "@atoms/Paragraph.astro";
---

<Headline>Step 3: Submit the results</Headline>

<Paragraph>
  After finishing the study, download your data to your local file system. We
  save results as a plain-text JSON file. Thus, interested ones can examine
  their file and inspect the collected data. We ask not to modify the contents
  as that would complicate evaluation.
</Paragraph>

<Paragraph>
  Finally, upload the received file to the cloud storage provided by the
  universities of Rhineland-Palatinate. We opt for the two stages approach to
  ensure data transparency and limit the usage of non-education service
  providers.
</Paragraph>

<button
  class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden lg font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-300 via-blue-500 to-purple-600 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200"
>
  <span
    class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0"
  >
    1. Download data
  </span>
</button>

<a
  class="ml-4 underline underline-offset-8 text-gray-600"
  href="https://seafile.rlp.net/u/d/e2a60cab32854c2d8e7a/"
  target="_blank">2. Upload to Cloud</a
>
