---
import Selector from "@components/atoms/Selector.svelte";

interface Props {
  id: string;
  label: string;
  options: Array<string>;
  description?: string | null;
}

const { id, label, options, description = null } = Astro.props;
---

<div>
  <label class="mb-2 block font-medium text-slate-700">{label}</label>
  <Selector client:load id={id} options={options} storeItem="survey" />
  {
    description && (
      <span v-if="description" class="mt-4 block text-sm">
        {description}
      </span>
    )
  }
</div>
